html{
    direction: rtl;
    width: 100%;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;

    overflow-x: hidden;  /* hide scroll bar vertical */
}

img{
    width: 100px;
}

/* ------------------------------------------navbar--------------------------------------------- */

.navbar{
    width: 100%;
    height: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
}

.icons{
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .navbar .search-input-container{
    width: 200px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    box-sizing: border-box;
    padding-right: 8px;
} */

/* .navbar .search-input{
    width: 180px;
    height: 20px;
    display: none;
    border: 0;
    border-bottom: 1px solid lightgray;
} */


.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;

    width: 60%;
}

.menu a{
    text-decoration: none;
    color: black;
}

.logo{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --------------------------------------------head--------------------------------------------- */

.head{
    width: 100%;
    position: relative;

    box-sizing: border-box;
    padding: 30px;
    padding-right: 50px;
}

.head img{
    width: 75%;
    /* position: relative; */

    box-shadow: -10px 10px 0 rgb(39, 49, 39);
}

.intrudction-txt{
    position: absolute;

    background-color: rgb(39, 49, 39);
    color: white;

    left: 0;
    top: 40%;

    height: 40%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    padding: 30px;

    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.down-button{
    position: absolute;
    right: 3%;
    top: 85%;

    background-color: rgb(39, 49, 39);
    color: white;
    width: 90px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;

    border-radius: 3px; 
}

.down-button a{
    text-decoration: none;
    color: white;
}
/* ----------------------------------------------service-------------------------------------- */

.service{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    row-gap: 25px;
}
.head-text{
    width: 100%;
    box-sizing: border-box;
    padding-right: 150px;
    text-align: right;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 8px;
}

.special-service{
    width: 100%;
    box-sizing: border-box;
    padding-left: 60px;
    padding-right: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-detail{
    width: 28%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    column-gap: 15px;
}

.service-detail .icon{
    font-size: 25px;
    color: rgb(39, 49, 39);
}

.service-detail .text p{
    margin: 0;
}

.service-detail .text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    height: 85px;
}
/* ----------------------------------------experience---------------------------------------- */
.experience{
    width: 100%;
    box-sizing: border-box;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.experience .img{
    width: 40%;
}

.experience img{
    width: 100%;
}

.detail{
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    row-gap: 10px;
}

.detail button{
    width: 120px;
    height: 35px;
    border: 2px solid black;
    background-color: white;
    color: black;
    border-radius: 2px;
}

.activity{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 40px;
}

.years , .awward , .sold{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.years p , .awward p , .sold p{
    margin-top: 3px;
    margin-bottom: 3px;
}

.years .number , .awward .number , .sold .number{
    font-size: 35px;
    color: rgb(46, 56, 46);
}

/* -------------------------------------------process------------------------------------------- */

.process{
    width: 100%;
    box-sizing: border-box;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.process-detail{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.levels{
    display: flex;
    flex-direction: column;
    align-items: center;

    row-gap: 40px;
}

.levels .detail{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    column-gap: 10px;
}

.number-level{
    width: 40px;
    height: 40px;
    background-color: rgb(39, 49, 39);
    color: white;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
}

.level-comment{
    width: 70%;
}

.process .img{
    width: 47%;
}

.process img{
    width: 100%;
}
/* --------------------------------------------customer---------------------------------------- */

.customers{
    width: 100%;
    box-sizing: border-box;
    padding: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
}

.customers-say{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.say-card{
    width: 45%;
    background-color: rgb(39, 49, 39);
    color: white;
    box-sizing: border-box;
    padding: 25px;
    border-radius: 4px;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    column-gap: 20px;
}

.header .img{
    width: 50px;
}

.header img{
    width: 100%;
    border-radius: 50px;    
}

.header .detail p{
    margin-top: 2px;
    margin-bottom: 3px;
}

/* ------------------------------------------------footer------------------------------------------- */

.footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
    padding: 50px;

    background-color: rgb(39, 49, 39);
    color: white;
}

.footer .menus{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 50%;
}

.footer .social{
    margin-top: 15px;
    font-size: 22px;
    display: flex;
    column-gap: 15px;
}

.footer .menus a{
    text-decoration: none;
    color: white;
}

.Get-in-touch , .support , .company , .about{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 5px;
}

.company-detail{
    width: 30%;
}

/* ========================================================================================= */

@font-face{
    font-family: 'Dirooz';
    src: url(Font/Dirooz.ttf);
}

.Diroz-font{
    font-family: Dirooz;
}

@font-face{
    font-family: 'Lalezar';
    src: url(Font/Lalezar.ttf);
}

.Lalezar-font{
    font-family: Lalezar;
}